# Global Variables

In [1]:
nb_name = '1.0-sej-sdg-descriptions'
dataset_1 = 'wiki-sdg.csv'

# Import Data

In [2]:
import pandas as pd

import matplotlib.pyplot as plt
import os
from itertools import zip_longest
import numpy as np

In [3]:
# Read source .csv 

df_sdg = pd.read_csv('../../data/metadata/' + dataset_1, header=0,
                    
                    # csv encoding type and specify index column
                    
                    encoding='ANSI') #, index_col = 0)

In [4]:
# View raw csv

df_sdg.head(2)

   sdg_id sgd_description sdg_alias1 sdg_alias2  Unnamed: 4  Unnamed: 5
0       1      No Poverty    Poverty        NaN         NaN         NaN
1       2     Zero Hunger     Hunger       Food         NaN         NaN

### Preprocess data

In [5]:
# Remove unwanted columns

df_sdg.drop(['sdg_alias2', 'Unnamed: 4', 'Unnamed: 5'], axis=1, inplace=True)

# Rename columns

df_sdg.rename(columns={'sgd_description':'sdg_description'})

df_sdg.replace('  ',' ')

    sdg_id                          sgd_description        sdg_alias1
0        1                               No Poverty           Poverty
1        2                              Zero Hunger            Hunger
2        3               Good Health and Well-being            Health
3        4                        Quality Education         Education
4        5                          Gender Equality   Gender Equality
5        6               Clean Water and Sanitation             Water
6        7              Affordable and Clean Energy      Clean Energy
7        8          Decent Work and Economic Growth       Decent Work
8        9  Industry  Innovation and Infrastructure        Technology
9       10                       Reduced Inequality        Inequality
10      11       Sustainable Cities and Communities        Governance
11      12   Responsible Consumption and Production           Energy
12      13                           Climate Action           Climate
13      14                         Life Below Water  Life below Water
14      15                             Life On Land      Life on Land
15      16  Peace  Justice  and Strong Institutions             Peace
16      17              Partnerships for the Goals.       partnership

In [6]:
df_sdg.head(3)

   sdg_id             sgd_description sdg_alias1
0       1                  No Poverty    Poverty
1       2                 Zero Hunger     Hunger
2       3  Good Health and Well-being     Health

### Save Data File

In [7]:
df_sdg.to_csv('../../data/processed/'+'preprocessed_data_'+dataset_1, index=False)