# Global Variables

In [57]:
nb_name = '1.0-sej-sdg-descriptions'
fn2_data = 'wiki-sdg.csv'

# Import Data

In [58]:
import pandas as pd

In [59]:
# Read source 2 csv 

df_sdg = pd.read_csv('../../data/raw/' + fn2_data, header=0,
                    
                    # csv encoding type and specify index column
                    
                    encoding='ANSI', index_col = 0)

In [63]:
df_sdg.drop(['sdg_alias2', 'Unnamed: 4', 'Unnamed: 5'], axis=1, inplace=True)

In [64]:
df_sdg.head(3)

                                sgd_description        sdg_alias1
sdg_id
1                                    No Poverty           Poverty
2                                   Zero Hunger            Hunger
3                    Good Health and Well-being            Health
4                             Quality Education         Education
5                               Gender Equality   Gender Equality
6                    Clean Water and Sanitation             Water
7                   Affordable and Clean Energy      Clean Energy
8               Decent Work and Economic Growth       Decent Work
9       Industry  Innovation and Infrastructure        Technology
10                           Reduced Inequality        Inequality
11           Sustainable Cities and Communities        Governance
12       Responsible Consumption and Production           Energy
13                               Climate Action           Climate
14                             Life Below Water  Life below Water
15                                 Life On Land      Life on Land
16      Peace  Justice  and Strong Institutions             Peace
17                  Partnerships for the Goals.       partnership

In [65]:
df_sdg.sgd_description[17]

'Partnerships for the Goals.'

In [9]:
# Unique ID
df.ptr_id.is_unique

True

In [10]:
# Unique ID (Main primary key)
df.articletype_id.is_unique

True

In [11]:
# Check for nulls and fill 
null_columns=df.columns[df.isnull().any()]
print('Columns with nulls:\n', df[null_columns].isnull().sum())
for col in null_columns:
    df[col]=df[col].fillna(0)

Columns with nulls:
 articletype_id         1
sdg_lst                1
content               23
lang              122807
issn              103329
doi               195081
dtype: int64

null_columns=df.columns[df.isnull().any()]
print('Columns with nulls:\n', df[null_columns].isnull().sum())

In [12]:
# Check for na and drop na values
df1 = df[df.isna().any(axis=1)]
print(df1.shape)
del df1
df = df.dropna()

(0, 15)

In [13]:
# Check sum: ptr_id should equal articletype_id
print('count mismatchees:', df.loc[ (df.ptr_id != df.articletype_id)].shape)
if _debug:
    print(df.loc[ (df.ptr_id != df.articletype_id)])
    print('shape', df.shape)
    print('drop', df.drop(df[ (df.ptr_id != df.articletype_id) ].index, inplace = True))
df.drop(df[ (df.ptr_id != df.articletype_id) ].index, inplace = True)

count mismatchees: (1, 15)

In [14]:
# Final dataset shape
df.shape

(208806, 15)

### Clean up keywords feature to have unique phrases.

In [15]:
kw=df.keywords

In [16]:
if _debug:
    print(kw[0])

In [17]:
# strip left of '{'
left=kw.str.split('{').str[1]
# strip right of '}'
right=left.str.split('}').str[0]
kw=right.str.replace('"', "")

In [18]:
if _debug:
    print(kw[0])

In [19]:
# Convert delimited strings into lists; and keep unique strings. 
list_all = kw.str.split(',')
list_unique = []
for i, v in enumerate(list_all):
    list_unique.append(list(set(list_all[i])))

In [20]:
if _debug:
    n=1
    print(list_unique[n])
    print(list_all[n])
    print(len(list_unique))

In [21]:
df['unique_keywords']=list_unique
del kw, list_all, list_unique

In [22]:
df.head(1).T

                                                                 0
articletype_id                                                13.0
sdg_lst                                                      2, 14
ptr_id                                                          13
authors                                    {"Jansen, Jonathan D."}
title            Autonomy and accountability in the regulation ...
content          This article examines the struggles of the Sou...
keywords         {Autonomy,Learning,Performance,Teaching,"Gover...
lang                                                            en
date                                                    2006-01-27
issn                                                             0
doi                                                              0
handle                              http://hdl.handle.net/2263/116
institution_id                                                   1
institution                                 University of Pretoria
active                                                           t
unique_keywords  [Autonomy, Government regulation, Learning, Te...

### Convert sdg text into lists

In [23]:
sdg=df.sdg_lst

In [24]:
# list of strings
list_all = sdg.str.split(',')

#ToDo better code needed here
# list of integers 
n=0
list_int = []
for i, v1 in enumerate(list_all):
    lst = []
    
    try:
        for j, v2 in enumerate(list_all[i]):
            lst.append(int(v2))
        n=+1
    except:
        print('skip: ', i, n, list_all[i])
    
    list_int.append(lst)  

if _debug:
    print(list_all[0])
    print(list_int[0])
    
#append to df
df['sdg_ints']=list_int
del sdg, list_all, list_int

In [25]:
df.columns

Index(['articletype_id', 'sdg_lst', 'ptr_id', 'authors', 'title', 'content',
       'keywords', 'lang', 'date', 'issn', 'doi', 'handle', 'institution_id',
       'institution', 'active', 'unique_keywords', 'sdg_ints'],
      dtype='object')

### Counts

In [26]:
# Counts
c_lang = df.lang.value_counts()
c_authors = df.authors.value_counts()
c_title = df.title.value_counts()

In [27]:
c_lang

0             122807
en             39746
en_US          24287
eng            16322
jpn             2747
en_ZA            969
en_AU            844
Afrikaans        416
af               314
English          112
other            103
Dutch             38
af_ZA             31
de                17
fr                11
fra               10
it                 5
es                 4
Spanish            3
Greek              3
zho                2
spa                2
nl                 2
ja                 1
kor                1
Chinese            1
Language           1
Portuguese         1
en_GB              1
German             1
Sepedi             1
Afr                1
afr                1
zh                 1
Name: lang, dtype: int64

In [28]:
c_authors

{"Taylor, Frank E."}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        303
{"Gomez-Ceballos, Guillelmo","Goncharov, Maxim","Paus, Christoph M. E."}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     85
{"Taylor, Frank E"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          83
{"Williams, Michael"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        58
{"Cowan, Ray Franklin","Dujmic, Denis","Sciolla, Gabriella"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 50
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ...
{"Virdee, Satnam K","Greenfield, Sheila M","Fletcher, Kate","McManus, Richard J","Hobbs, FD Richard","Mant, Jonathan"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
{"Mavaddat, Nahal","Van der Linde, Rianne","Savva, George M","Brayne, Carol","Mant, Jonathan"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
{"Edwards, Duncan","Cohn, Simon","Mavaddat, Nahal","Virdee, Satnam K","Lasserson, Daniel","Milner, Siobhan","Giles, Matthew","McManus, Richard","Mant, Jonathan"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
{"Freedman, Ben","Camm, John","Calkins, Hugh","Healey, Jeffrey S","Rosenqvist, Mårten","Wang, Jiguang","Albert, Christine M","Anderson, Craig S","Antoniou, Sotiris","Benjamin, Emelia J","Boriani, Giuseppe","Brachmann, Johannes","Brandes, Axel","Chao, Tze-Fan","Conen, David","Engdahl, Johan","Fauchier, Laurent","Fitzmaurice, David A","Friberg, Leif","Gersh, Bernard J","Gladstone, David J","Glotzer, Taya V","Gwynne, Kylie","Hankey, Graeme J","Harbison, Joseph","Hillis, Graham S","Hills, Mellanie T","Kamel, Hooman","Kirchhof, Paulus","Kowey, Peter R","Krieger, Derk","Lee, Vivian WY","Levin, Lars-Åke","Lip, Gregory YH","Lobban, Trudie","Lowres, Nicole","Mairesse, Georges H","Martinez, Carlos","Neubeck, Lis","Orchard, Jessica","Piccini, Jonathan P","Poppe, Katrina","Potpara, Tatjana S","Puererfellner, Helmut","Rienstra, Michiel","Sandhu, Roopinder K","Schnabel, Renate B","Siu, Chung-Wah","Steinhubl, Steven","Svendsen, Jesper H","Svennberg, Emma","Themistoclakis, Sakis","Tieleman, Robert G","Turakhia, Mintu P","Tveit, Arnljot","Uittenbogaart, Steven B","Van Gelder, Isabelle C","Verma, Atul","Wachter, Rolf","Yan, Bryan P","AF-Screen Collaborators,"}      1
{"Ekman, Annaleigh Yahata"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
Name: authors, Length: 190360, dtype: int64

In [29]:
c_title

Editorial                                                                                                                                          18
2021 roadmap for sodium-ion batteries                                                                                                              10
Search for the HH → b b ¯ b b ¯ process via vector-boson fusion production using proton-proton collisions at s = 13 TeV with the ATLAS detector     9
Higgs boson production cross-section measurements and their EFT interpretation in the 4 ℓ decay channel at s = 13 TeV with the ATLAS detector       7
Study of B s 0 → J / ψπ + π − K + K − decays                                                                                                        7
                                                                                                                                                   ..
Citron kinase - renaissance of a neglected mitotic kinase                                                                                           1
Subtle Differences among 5-HT<inf>3</inf>AC, 5-HT<inf>3</inf>AD, and 5-HT<inf>3</inf>AE Receptors Are Revealed by Partial Agonists                  1
Nonenzymatic gluconeogenesis-like formation of fructose 1,6-bisphosphate in ice                                                                     1
NK cell allorecognition.                                                                                                                            1
Meeting Travel Needs: Becoming Reacquainted with a Community’s Unmet Travel Needs                                                                   1
Name: title, Length: 203743, dtype: int64