### Overview
##### Read latest preprocessed SDG dataset and query the dataset for stakeholder engagement.

### Library Imports

In [1]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import os
from itertools import zip_longest
import numpy as np
import seaborn as sns

### Read Data File

In [2]:
nb_name = "1.0-sej-initial-data-exploration-queries"

dataset_1 = 'preprocessed_data_query-sdg-full-regexp_2022-03-15.csv' # _1, _2 etc.. as need to list more than one data set being read in
dataset_2 = 'preprocessed_data_query-sdg-full-regexp_2022-03-15_1-1.csv'
dataset_3 = 'preprocessed_data_wiki-sdg.csv'

In [3]:
df = pd.read_csv('../../data/processed/'+dataset_2) 
df_sdg = pd.read_csv('../../data/processed/'+dataset_3) 

# Pandas will start looking from where your current python file is located. 
# Therefore you can move from your current directory to where your data is located with '..'

C:\Users\sejohnson\AppData\Local\Temp\ipykernel_15320\871389924.py:1: DtypeWarning: Columns (10,11,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../data/processed/'+dataset_2)

In [4]:
df.head(2)

,articletype_id,ptr_id,sdg_lst,authors,title,content,keywords,date,year,month,...,3_listed_sdg,4_listed_sdg,5_listed_sdg,6_listed_sdg,7_listed_sdg,8_listed_sdg,9_listed_sdg,language,title_word_count,content_word_count
0,13.0,13,"2, 14","['Jansen, Jonathan D.']",Autonomy and accountability in the regulation ...,This article examines the struggles of the Sou...,['accountability' 'autonomy' 'democracy' 'educ...,2006-01-27,2006.0,1.0,...,0,0,0,0,0,0,0,English,15,158
1,14.0,14,2,"['Jansen, Jonathan D.']",Intellectuals under fire,Looks at the status of intellectuals in South ...,['cultural policy' 'democracy' 'intellectuals'...,2006-01-27,2006.0,1.0,...,0,0,0,0,0,0,0,English,3,38

In [5]:
df_sdg

    sdg_id                          sgd_description        sdg_alias1
0        1                               No Poverty           Poverty
1        2                              Zero Hunger            Hunger
2        3               Good Health and Well-being            Health
3        4                        Quality Education         Education
4        5                          Gender Equality   Gender Equality
5        6               Clean Water and Sanitation             Water
6        7              Affordable and Clean Energy      Clean Energy
7        8          Decent Work and Economic Growth       Decent Work
8        9  Industry  Innovation and Infrastructure        Technology
9       10                       Reduced Inequality        Inequality
10      11       Sustainable Cities and Communities        Governance
11      12   Responsible Consumption and Production           Energy
12      13                           Climate Action           Climate
13      14                         Life Below Water  Life below Water
14      15                             Life On Land      Life on Land
15      16  Peace  Justice  and Strong Institutions             Peace
16      17              Partnerships for the Goals.       partnership

In [6]:
def sdg_label(sdg_lst):
    # split delimited SDG list 
    split = [int(z)for z in sdg_lst.split(',')]
    
    ret = ''
    for s in split:
        if s in range(1, df_sdg.shape[0] + 1):
            if ret == '':
                ret = df_sdg.sdg_alias1[s - 1].lower()
            else:
                ret = ret + ", " + df_sdg.sdg_alias1[s - 1].lower()
    return ret

In [7]:
sdg_label('-1, 0, 1, 15, 16, 17, 18, 20')

'poverty, life on land, peace, partnership'

### Query

In [8]:
query1 = df[['articletype_id', 'sdg_lst',  'title', 'content',
        'institution']].query("institution == 'University of Pretoria'")
print('Query results:', query1.shape[0])

Query results: 4526

In [9]:
n=1
print('\narticletype_id:\n' , query1.articletype_id[n], '\n\ntitle:\n', query1.title[n], '\n\ncontent:\n', query1.content[n], '\n\nSDG:\n', query1.sdg_lst[n], " ", sdg_label(query1.sdg_lst[n]) )

articletype_id:
 14.0

title:
 Intellectuals under fire

content:
 Looks at the status of intellectuals in South Africa ten years after democracy was established in the country. Direction of democracy in the country; Concerns about the policies of the government and its response to criticism from intellectuals.

SDG:
 2   hunger

In [10]:
n=100
print('\narticletype_id:\n' , query1.articletype_id[n], '\n\ntitle:\n', query1.title[n], '\n\ncontent:\n', query1.content[n], '\n\nSDG:\n', query1.sdg_lst[n], " ", sdg_label(query1.sdg_lst[n]) )

articletype_id:
 122.0

title:
 Efficiency analysis of small-scale wool production in the former Transkei, South Africa

content:
 A non-parametric data envelopment analysis (DEA) is used to measure the relative efficiency of wool production in the former Transkei. The agricultural activities on the farms are merely non-commercial. Wool is considered as a by-product of keeping sheep, which are slaughtered on special family occasions or sold live. A sample of farmers in three villages of the former Transkei was interviewed. In Luzie a shearing shed was built to organise the marketing of wool, leading to a higher revenue. The farmers however are not able to convert this into a positive gross margin. A small number of farms succeeds in maximising the production of wool given the relative large investment. The negative result of wool farming on the other farms is partly compensated by high benefits from the sales of live sheep. In Xume another shearing shed was built, and extention on production practices is provided. But no marketing through the shed was done at the time of the survey. The existence of a shearing shed should be essential for a higher retail price and extention does have a positive influence on the benefits of the farms. However, the production practices are not adapted to the production of wool only, so that the use of inputs is too high for the general output.

SDG:
 1   poverty

In [11]:
n=query1.sdg_lst.shape[0]-1
print('\narticletype_id:\n' , query1.articletype_id[n], '\n\ntitle:\n', query1.title[n], '\n\ncontent:\n', query1.content[n], '\n\nSDG:\n', query1.sdg_lst[n], " ", sdg_label(query1.sdg_lst[n]) )

articletype_id:
 6076.0

title:
 Serological prevalence of leptospiral antibodies in pigs in South Africa

content:
 A serological survey for leptospiral antibodies was carried out on 5 041 abattoir pigs from different regions in South Africa. Antibodies to at least one serovar were detected in 22,2% of the animals. The serovars showing the highest prevalence were: icterohaemorrhagiae (12,6%), hardjo (12,1 %) and bratislava (7,5%). The serum dilution level at which 90% of the sera reacted was 1/80 or 1/160.

SDG:
 15   life on land