# Global Variables

In [1]:
nb_name = '1.0-sej-sdg-descriptions'
dataset_1 = 'wiki-sdg.csv'

# Import Data

In [2]:
import pandas as pd

import matplotlib.pyplot as plt
import os
from itertools import zip_longest
import numpy as np

In [3]:
# Read source .csv 

df_sdg = pd.read_csv('../../data/metadata/' + dataset_1, header=0,
                    
                    # csv encoding type and specify index column
                    
                    encoding='ANSI') #, index_col = 0)

In [4]:
# View raw csv

df_sdg.tail(2)

,sdg_id,sgd_description,sdg_alias1,sdg_alias2,Unnamed: 4,Unnamed: 5
15,16,Peace Justice and Strong Institutions,Peace,Justice,NaN,NaN
16,17,Partnerships for the Goals.,partnership,NaN,NaN,NaN

### Preprocess data

In [5]:
# Remove unwanted columns

df_sdg.drop(['sdg_alias2', 'Unnamed: 4', 'Unnamed: 5'], axis=1, inplace=True)

# Rename columns

df_sdg.rename(columns={'sgd_description':'sdg_description'})

# replace double space with single

df_sdg.replace('  ',' ')

# display 
df_sdg.tail(2)

    sdg_id                          sgd_description   sdg_alias1
15      16  Peace  Justice  and Strong Institutions        Peace
16      17              Partnerships for the Goals.  partnership

### Save Data File

In [6]:
df_sdg.to_csv('../../data/processed/'+'preprocessed_data_'+dataset_1, index=False)