### Library Imports

In [1]:
import pandas as pd

### Read Data File

In [2]:
df = pd.read_csv('../../data/raw/query-sdg-full_20220312_92k.csv', sep='|', header=0) 

# Pandas will start looking from where your current python file is located. 
# Therefore you can move from your current directory to where your data is located with '..'

In [3]:
df.head(4)

,ptr_id,articletype_id,sdg_lst,authors,title,content,keywords,institution_id
0,13,13.0,"14, 2","{""Jansen, Jonathan D.""}",Autonomy and accountability in the regulation ...,This article examines the struggles of the Sou...,"{Autonomy,Learning,Performance,Teaching,""Gover...",1
1,14,14.0,2,"{""Jansen, Jonathan D.""}",Intellectuals under fire,Looks at the status of intellectuals in South ...,"{""Cultural policy"",Democracy,""Political system...",1
2,16,16.0,2,"{""Jansen, Jonathan D.""}",Mode 2 knowledge and institutional life: takin...,This paper examines the response of a black un...,"{""Higher education"",""Information technology"",""...",1
3,17,17.0,"14, 1","{""Jansen, Jonathan D.""}",Political symbolism as policy craft : explaini...,The policy literature in developing countries ...,"{Apartheid,""Educational change"",""Educational p...",1

In [4]:
# check the types of data in the set

df.dtypes

ptr_id              int64
articletype_id    float64
sdg_lst            object
authors            object
title              object
content            object
keywords           object
institution_id      int64
dtype: object

### Check Data Set's Quality

In [5]:
# Check the number of nulls

df.isnull().sum() # Efficient query for checking the number of nulls accross columns in pandas

ptr_id            0
articletype_id    1
sdg_lst           1
authors           0
title             0
content           0
keywords          0
institution_id    0
dtype: int64

In [38]:
# Drop na values

df = df.dropna()

In [39]:
# does the ptr_id and article_type_id match 

# Find the number of mismatches in id's

len([i for i in list(df.ptr_id == df.articletype_id) if i == False ])

0

In [45]:
# get the number different sdg's listed

listed_number = list()

for i in df.sdg_lst.values:

    # remove ',' in the string and split the string by white space to get a list
    
    split = i.replace(',','').split()
    
    listed_number.append(len(split))
    
# Get a column listing the number of sdg per article for distributional visualisation 
    
df['no_listed_sdg'] = listed_number

In [46]:
df.head()

,ptr_id,articletype_id,sdg_lst,authors,title,content,keywords,institution_id,no_listed_sdg
0,13,13.0,"14, 2","{""Jansen, Jonathan D.""}",Autonomy and accountability in the regulation ...,This article examines the struggles of the Sou...,"{Autonomy,Learning,Performance,Teaching,""Gover...",1,2
1,14,14.0,2,"{""Jansen, Jonathan D.""}",Intellectuals under fire,Looks at the status of intellectuals in South ...,"{""Cultural policy"",Democracy,""Political system...",1,1
2,16,16.0,2,"{""Jansen, Jonathan D.""}",Mode 2 knowledge and institutional life: takin...,This paper examines the response of a black un...,"{""Higher education"",""Information technology"",""...",1,1
3,17,17.0,"14, 1","{""Jansen, Jonathan D.""}",Political symbolism as policy craft : explaini...,The policy literature in developing countries ...,"{Apartheid,""Educational change"",""Educational p...",1,2
4,18,18.0,14,"{""Jansen, Jonathan D.""}",School curriculum since apartheid : intersecti...,In the wake of South Africa's first non-racial...,"{""Curriculum development"",""Educational policy""...",1,1